p {
	line-height: 35px;
}

.left-side {	
	padding-top: 115px;
	text-align: right;
}

.right-side {
	padding-top: 90px;
}

.title {
	text-align: center;
}

.content-left {
	
}

.content-right {
	
}

.content-post-home {	
	margin-top: 20px;	
}

.content-post-home a {
	
}

.content-post {
	margin-top: 20px;
}

.footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}