<div class="row header">
    <div class="col-xs-12 text-center">
        <div class="page-header">
            <h3 id="title"><a href="/">Adhatama</a></h3>

            <div class="text-center">
                <a href="https://github.com/adhatama" target="_blank">Github</a>
                |
                <a href="https://twitter.com/babaenciel" target="_blank">Twitter</a>
                |
                <a href="https://www.instagram.com/am.adhatama" target="_blank">Instagram</a>
            </div>
        </div>
    </div>
</div>