<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">        

        <link rel="stylesheet" href="/css/my.css">           

        <link rel="stylesheet" href="/css/normalize.css">

        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/midway.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">                      
                <div class="span4 left-side">                
                    <a href="mailto:am.adhatama@gmail.com"><p>email</p></a>
                    <a href="http://facebook.com/am.adhatama"><p>facebook</p></a>
                    <a href="http://twitter.com/babaenciel"><p>twitter</p></a>
                    <a href="http://soundcloud.com/akbar-m-adhatama"><p>soundcloud</p></a>
                </div>
                <div class="span4">    
                    <a href="/" style="text-decoration: none; color: black;"><h1 class="title">{{ site.name }}</h1></a>
                    <img src="/img/tamago.jpg">                
                </div>

                <div class="span4 right-side">
                    <h4>Yang Lagi Happening</h4>
                    <p><a href="http://project-tamago.github.io/2013/06/13/nunggu-apa-lagi/">Nunggu Apa Lagi?</a></p>
                </div>                            
            </div>

            <div class="row">
                <div class="span7 offset3 content-post-home">                    
                    <ul style="list-style-type: none">
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">                        
                            <h5>{{ post.title }}</h5>
                            <p style="margin-top: -20px;" class="muted"> {{ post.date | date_to_long_string }} </p>
                        </a>
                    </li>     
                    {% endfor %}
                    </ul>
                </div>                
            </div>

        </div>        

        <div class="footer">
            <span>tama</span> <br>
            <span>2013 - nyerah</span>
        </div>
    </body>
</html>
