<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="container-fluid">
            {% include header.html %}

            {% for post in site.posts %}
            <div class="row post-row">
                <div class="col-xs-offset-1 col-xs-3 text-right">
                    <span class="text-muted">{{ post.categories }}</span>
                </div>
                <div class="col-xs-5">
                    <a href="{{ post.url }}">
                        <h5 style="display:inline">{{ post.title }}</h5>
                    </a>

                    <span class="text-muted"> - {{ post.date | date_to_long_string }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

        {% include footer.html %}
    </body>
</html>
